S3method(predict, flexBART)
export("flexBART")
export("predict.flexBART")
export("rflexBART")
export("probit_flexBART")
importFrom(Rcpp, evalCpp)
importFrom("stats", "quantile", "formula", "qchisq", "qnorm", "relevel", "sd", "terms", "predict", "lm")
importFrom("methods", "is")
importFrom("glmnet", "cv.glmnet", "predict.glmnet")
useDynLib(flexBART)
