export("flexBART")
export("predict_flexBART")
export("rflexBART")
export("network_BART")
export("rnetwork_BART")
export("probit_flexBART")
export("probit_networkBART")
export("summarize_post_pred")
importFrom(Rcpp, evalCpp)
useDynLib(flexBART)
